
 <div class="articles bg-dark">
<div class="card border-0 flex-wrap text-white">
  <img class="card-img" src="<%==(url_for(top_voted_article.image)) %>" alt="Card image">
  <div class="card-img-overlay d-flex flex-column justify-content-end">
    <h5 class="card-title"><%= top_voted_article.title %></h5>
    <p class="card-text"><%= top_voted_article.text %></p>
    
  </div>
</div>
</div>
<div class="row categories ">
  <%priority_categories(4).each do |category|%>
    <div class="position-relative col-6 col-md-3 px-0 top-article h-100">
      <%= link_to category_path(category) do%>
          <h4 class="font-weight-bolder  underline pb-3 mt-2 mr-auto"><%= category.name%></h4>
          <h5 class="mb-4 text-wrap text-break"><%= extract_title top_of_category category %></h5>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
</div> 







<%= link_to 'New Article', new_article_path %>
